body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    width: 50px;
    height: 20px;
}  

.navbar button {
    font-size: 16px;
    font-weight: bold;
    width: 105px;
    height: 40px;
    border: none;
    background-color: white;
}

.navbar button:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.d1 {
    padding: 0px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-top: 80px;
}

.dlbutton {
    border-radius: 4px;
    width: 200px;
    height: 60px;
    font-weight: bold;
    background-color: #F0F0F0;
    box-shadow: 0 2px 10px rgba(128, 128, 128, 0.5);
    margin-top: 15px;
    margin-bottom: 20px;
}

.dlbutton:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.smalltxt {
    font-size: 12px;
    margin-top: 4px;
}

#minOS {
    margin-bottom: 0px;
}

#BTdesc {
    line-height: 1.35;
    margin-left: 20px;
    margin-right: 20px;
}

figure {
    text-align: center;
}

figcaption {
    text-decoration: underline;
}

img {
    margin-bottom: 13px;
}

#minreq {
    margin-top: 30px;
}

#bottom {
    margin-bottom: 100px;
}
